@font-face {
 font-family: 'DM Sans Regular';
 font-style: normal;
 font-weight: 400;
 src: url('./fonts/regular-dm-sans.woff2') format('woff2'),
  url('./fonts/regular-dm-sans.woff') format('woff');
}

@font-face {
 font-family: 'DM Sans Bold';
 font-style: bold;
 font-weight: 700;
 src: url('./fonts/bold-dm-sans.woff2') format('woff2'),
  url('./fonts/bold-dm-sans.woff') format('woff');
}

html,
body {
 margin: 0;
 padding: 0;
 height: 100vh;
 font-size: 16px;
 background: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
 font-family: 'DM Sans Bold';
}

p {
 font-family: 'DM Sans Regular';
 font-size: 1.5rem;
}

.App {
 margin: 1rem;
}
